{% extends "base.html" %}

{% block extrahead %}
    <!-- ALTERNATE -->
    <link rel="alternate" href="https://an-noying.github.io/" hreflang="ko" type="text/html" title="K's Garage">

    <!-- META -->
    <meta name="robots" content="index, follow">
    <meta http-equiv="author" content="어노잉">

    <!-- Site Verification -->
    <meta name="google-site-verification" content="GRz7q1CfePijOZEl_h4J-v9Qtf3670jdlxoTbSY-jKY" />
    <meta name="naver-site-verification" content="0b928e78b1747f8e7bd6f6bc4e48514746e39abb" />

    <!-- GOOGLE ADSENSE -->
    <meta name="google-adsense-account" content="ca-pub-7065893733087116">

    {% if not ("127.0.0.1" in config.site_url or "localhost" in config.site_url) %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7065893733087116" crossorigin="anonymous"></script>
    {% endif %}
{% endblock %}

{% block analytics %}    
    {% if not ("127.0.0.1" in config.site_url or "localhost" in config.site_url) %}
    {{ super() }}

    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">if(!wcs_add) var wcs_add = {};wcs_add["wa"] = "1a2ce08ab542b00";if(window.wcs) {wcs_do();}</script>
    {% endif %}
{% endblock %}